**/*.aux
**/*.log
**/*.out
**/*.pdf
**/*.DS_Store
docs/
zig-out/
.zig-cache/
*--2025-XXXX--*/
offer--2025-XXXX--testclient/
# Ignore all client document directories
offer--*/
invoice--*/
letter--*/
,*/
docs/plan*
doc/plan*
