<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>404 — fj</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    body { font-family: sans-serif; margin: 0; }
    header, nav, main { padding: 1em; }
    nav a { margin-right: 1em; display: inline-block; margin-bottom: 0.5em; }

    .comment {
      color: grey;
    }

    footer {
      width: inherit;
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 5em;
      font-size: 0.8em;
    }


    @media (max-width: 768px) {
    }
  </style>
</head>
<body>
  <header>
    <strong>fj — The Commandline Company — <i>{{company}}</i></strong>
    <nav>
      <a href="/dashboard">Dashboard</a>
      <a href="/client">Clients</a>
      <a href="/rate">Rate Sets</a>
      <a href="/offer">Offers</a>
      <a href="/invoice">Invoices</a>
      <a href="/letter">Letters</a>
      <a href="/travel">Travel Expenses</a>
    </nav>
  </header>

  <main>
    <h2>Error</h2>
    <pre>404 - Not Found</pre>
  </main>

</body>
</html>


